<ion-header>
    <ion-toolbar>
        <ion-title align="center">Nueva Tarea</ion-title>

        <ion-buttons slot="start">
            <ion-button (click)="deshacerFormularioModal()">Cancelar</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="aniadirTarea()" [strong]="true">Guardar</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <!-- Formulario de añadir tarea -->
    <form [formGroup]="miTarea">
        <!-- Campos establecidos para el formulario -->
        <ion-item>
            <ion-input label="Nombre de la tarea *" formControlName="nombre"></ion-input>
        </ion-item>

        <ion-item>
            <ion-textarea label="Descripción (opcional)" formControlName="descripcion"></ion-textarea>
        </ion-item>

        <ion-item>
            <ion-select label="Prioridad" formControlName="prioridad" placeholder="Prioridad">
                <ion-select-option value="baja">Baja</ion-select-option>
                <ion-select-option value="media">Media</ion-select-option>
                <ion-select-option value="alta">Alta</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-input type="date" formControlName="fecha" [min]="fechaMinima" [(ngModel)]="fechaInicial" placeholder="Seleccione una fecha inicial"></ion-input>
        </ion-item>

        <ion-item>
            <ion-select label="Categoría (opcional)" formControlName="categoria">
                <ion-select-option value="trabajo">Trabajo</ion-select-option>
                <ion-select-option value="estudios">Estudios</ion-select-option>
                <ion-select-option value="personal">Personal</ion-select-option>
                <ion-select-option value="compras">Compras</ion-select-option>
                <ion-select-option value="otros">Otros</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-textarea label="Observaciones (opcional)" formControlName="observaciones"></ion-textarea>
        </ion-item>
    </form>
</ion-content>