<!-- Barra lateral del Menú completo -->
<ion-menu contentId="main-content-doing">
    <ion-header class="ion-no-border">
        <ion-toolbar color="indigo">
            <ion-title>Menú Principal</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
        <ion-item [button]="true" (click)="modalCreaTareas()">
            Crear Nueva Tarea
        </ion-item>
        <ion-item [button]="true">Limpiar Historial</ion-item>
        <ion-item [button]="true">Configuración</ion-item>
    </ion-content>
</ion-menu>

<!-- Cabecera del menú -->
<ion-header id="main-content-doing" class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title align="center">Gestión Flujo de Tareas</ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon slot="icon-only" name="add" color="primary"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

    <!-- Visualización de la lista de tareas -->
    <ion-list>
        <ion-item *ngFor="let item of listaTareas">
            {{ item }}
        </ion-item>
    </ion-list>

    <!-- Botón con icono + de abajo a la derecha -->
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>


    <app-explore-container name="Lista de tareas"></app-explore-container>
</ion-content>